.container {
  display: block;
  width: 494px;
}

.card {
  display: flex;
  /* flex-wrap: wrap; */
  width: 100%;
  height: 120px;
  margin-bottom: 20px;
  background-color: white;
}

.card img {
  display: block;
  height: 120px;
  width: 230px;
}

.body-content {
  margin-left: 10px;
  flex-direction: column;

  max-height: 100%;
  background-color: yellow;
}

.game-main-image {
}

.game-main-image img {
}

.price {
  font-weight: bold;
  color: black;
  font-size: 14px;
}

.card button {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

.card button:hover {
  opacity: 0.7;
}
