/* table,
th,
td {
  border: solid 1px black;
  border-collapse: collapse;
  padding: 15px;
}

th {
  text-align: center;
}

td {
  text-align: left;
}

.create {
}

.edit {
}

.delete {
}

.avatar {
  width: 200px;
  height: 100px;
}

tr:nth-child(even) {
  background-color: #f3f3f3;
}

.minSpecs {
  display: flex;
}

.minSpec {
  border: solid 1px black;
  margin: 5px;
  padding: 5px;
} */
