/* .navigation {
  background-color: #f3f3f3;
}
.wrap-nav {
  width: 1024px;
  margin: auto;
}

.items {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;

  background-color: #f3f3f3;
}

.item {
  border: 1px solid #e7e7e7;
  float: left;
}

.item a {
  display: block;
  color: rgb(134, 130, 130);
  text-align: center;
  padding: 14px 16px;

  text-decoration: none;
}

.item a:hover {
  background-color: #ddd;
} */
